.treatments_box {
  background-color: rgba(239, 203, 187, 0.4);
  height          : 602px;
  margin-bottom   : 77px;
  padding         : 0px 40px 0px 0px;
  position        : relative;
  z-index         : 1;
}

.treatments_title {
  font-size     : 32px;
  letter-spacing: 0px;
  color         : #48443e;
  font-weight   : 600;
  font-family   : 'Montserrat';
  text-transform: uppercase;
  margin        : 0px;
  padding-top   : 43px;
}

.treatments_slider {
  padding: 54px 0px 0px 187px;
}

.treatments_slider_item {
  padding: 0px 15px;
}

.treatments_img {
  max-width     : 251px;
  border-radius : 15px;
  margin        : 10px 10px 35px 10px;
  transition    : .5s all ease;
  -webkit-filter: grayscale(100%);
  filter        : grayscale(100%);
}

.treatments_img:hover,
.treatments_img:focus {
  filter   : none;
  transform: scale(1.1);
}

.treatments_slider_title {
  font-size     : 23px;
  letter-spacing: 0px;
  line-height   : 18px;
  color         : #48443e;
  font-weight   : 600;
  font-family   : 'Montserrat';
  text-transform: uppercase;
  margin        : 0px 0px 17px 0px;
}

.treatments_slider_text {
  max-width     : 249px;
  font-size     : 12px;
  letter-spacing: 0px;
  line-height   : 18px;
  color         : #48443e;
  font-weight   : 400;
  font-family   : 'Open Sans';
  margin        : 0px 0px 22px 0px;
}

.treatments_title_white {
  position        : absolute;
  width           : 100%;
  height          : 493px;
  background-color: #ffff;
  left            : 426px;
  top             : 64px;
  z-index         : 2;
}

.treatments_slider_button {
  font-size       : 12px;
  letter-spacing  : 0px;
  line-height     : 18px;
  color           : #48443e;
  font-weight     : 400;
  font-family     : 'Open Sans';
  border          : none;
  background-color: transparent;
  display         : flex;
  margin          : 22px 0px 0px 0px;
}

.treatments_slider_arrow {
  display         : inline-flex;
  width           : 17px;
  height          : 10px;
  padding         : 0px;
  margin          : 4px 0px 0px 19px;
  background-image: url(../../res/images/icons/right-arrow.svg);
}

.treatments_slider_arrow_less {
  display         : inline-flex;
  transform       : rotate(180deg);
  width           : 17px;
  height          : 10px;
  padding         : 0px;
  margin          : 4px 0px 0px 19px;
  background-image: url(../../res/images/icons/right-arrow.svg);
}